#introduction{
    color:black;
    background-color: orange;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
}
#my-favourite-color{
    color:blue;
    background-color:black;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em; 
    padding: 0.5em;
}
#my-favourite-food{
    color: aqua;
    font: size 1.2em;
    font-weight:bold ;
    margin-bottom: 1em;
    padding:0.5em;
}
#my-number-of-siblings{
    color: sandybrown;
    background-color: gold;
    font:size 1px;
    font-weight:bold;
    margin-bottom:1em;
    padding:0.5em;
}
#my-eyes-color{
    color: blue;
    font: size 1px;
    font-weight:bold;
    margin-bottom:1em;
    padding: 0.5em;
}



